<app-nav-bar></app-nav-bar>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h1 class="mt-3">
                    Movie Quiz
                </h1>
                <h3 class="text-center mt-3">
                    How to play the game.
                </h3>
                <p class="text-center mt-3">
                    Movie night quiz is a new quiz game where the player can select the movie genre and is asked seven
                    questions on that genre. The player is award a score for a correct answer and the time is taken to
                    answer the quesition. There is a leaderboard at the end of the game to see all the players currently
                    that have played the quiz.
                </p>
                <h4 class="text-center mt-5">
                    Points Score
                </h4>
                <ul class="ml-4">
                    <li>
                        Three answers for each question that the user can choose from. One correct, and two incorrect.
                    </li>
                    <li>
                        The timer counts down for 10 seconds.
                    </li>
                </ul>

                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4 text-center">
                        <button class="btn btn-success mt-5 mb-5" (click)="onClickNext()"> Play Game</button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>