<app-nav-bar></app-nav-bar>

<div class="text-center font-weight-bold"><h1>CATEGORY</h1></div>
<br />


<div class="row">
  <div class="col-0 col-md-3"></div>
  <div class="col col-md-6 text-center">
    <button class="btn btn-danger btn-lg btn-block" (click)="goToCategory(1)">Comedy</button>
  </div>
</div>
<br />

<div class="row">
  <div class="col-0 col-md-3"></div>
  <div class="col col-md-6 text-center">
    <button class="btn btn-danger btn-lg btn-block" (click)="goToCategory(2)">Action</button>
  </div>
</div>
<br />

<div class="row">
  <div class="col-0 col-md-3"></div>
  <div class="col col-md-6 text-center">
    <button class="btn btn-danger btn-lg btn-block" (click)="goToCategory(3)">Horror</button>
  </div>
</div>
<br />

<div class="row">
  <div class="col-0 col-md-3"></div>
  <div class="col col-md-6 text-center">
    <button class="btn btn-danger btn-lg btn-block" (click)="goToCategory(4)">Romance</button>
  </div>
</div>
<br />

<div class="row">
  <div class="col-0 col-md-3"></div>
  <div class="col col-md-6 text-center">
    <button class="btn btn-danger btn-lg btn-block" (click)="goToCategory(5)">Sci-Fi</button>
  </div>
</div>
<br />

<div class="row">
  <div class="col-0 col-md-3"></div>
  <div class="col col-md-6 text-center">
    <button class="btn btn-danger btn-lg btn-block" (click)="goToCategory(6)">Thriller</button>
  </div>
</div>
<br />

<div class="row">
  <div class="col-0 col-md-3"></div>
  <div class="col col-md-6 text-center">
    <button class="btn btn-primary btn-lg btn-block" (click)="goBack(6)"> <i class="fa fa-sign-out"></i>Logout</button>
  </div>
</div>
<br />

