<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <div class="mt-5">

        <div class="mt-5">
          {{username}}
        </div>

        <h1>
          Questions
        </h1>
        <div class="container">
          <div class="row">
            <br />
            <div class="panel panel-primary">
              <div class="panel-heading">

                <pre>
                    {{question}}       
                </pre>
              </div>
              <!-- ANSWERS -->
              <div class="panel-footer">
                <div class="row">
                  <div class="funkyradio">

                    <form #questionForm="ngForm" (ngSubmit)="onFormSubmit(questionForm)">
                      <div class="funkyradio-danger">
                        <input type="radio" name="radio" id="radio1" value="radio1" />
                        <label for="radio1">{{choice1}} </label>
                      </div>
                      <div class="funkyradio-warning">
                        <input type="radio" name="radio" id="radio2" value="radio2" />
                        <label for="radio2">{{choice2}} </label>
                      </div>
                      <div class="funkyradio-info">
                        <input type="radio" name="radio" id="radio3" value="radio3" />
                        <label for="radio3">{{choice3}} </label>
                      </div>

                      <div class="funkyradio-info mt-5">
                        <button (click)="nextQuestion()" class="btn btn-primary"> Submit </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-6">

      <div class="timer mt-5">
        <p>{{timeSeconds}}</p>

      </div>

    </div>
  </div>
</div>