<div class="col-sm-6 timerdiv">

</div>
<div class="cardy" id="question">


  <!-- Card image -->
  <!-- <img class="card-img-top" src={{image}} alt="Card image cap">-->

  <!-- Card content -->
  <div class="card-body">
   
    <!-- Title -->
    <div class="container" id="qtext">
      <div class="row">
          <img class="card-img-top" src={{image}} alt="Card image cap">
        <div class="col-sm-4">
          <h3>{{qnumber}}</h3>
        </div>
        <div class="col-sm-4">
          <h3>Timer: {{timeSeconds}}</h3>
        </div>
        <div class="col-sm-4">
          <h3>Score: {{score}}</h3>
        </div>
      </div>
    </div>
    <div class="success" *ngIf="showSucessMessage">
      Correct!!!!
    </div>
    <div class="alert" *ngIf="showErrorMessages">
      Wrong answer...
    </div>
    <!-- Text -->
    <p class="card-text">{{question}}</p>
    <!-- Button -->

    <div class="panel-footer">
      <div class="row">
        <div class="funkyradio">
          <form #questionForm="ngForm" (ngSubmit)="onFormSubmit(questionForm)">
            <div class="funkyradio-danger">
              <input type="radio" id="radio1" name="selection" value="{{choice1}}" [(ngModel)]="result" />
              <label for="radio1"> {{choice1}} </label>
            </div>
            <div class="funkyradio-warning">
              <input type="radio" id="radio2" name="selection" value="{{choice2}}" [(ngModel)]="result" />
              <label for="radio2"> {{choice2}} </label>
            </div>
            <div class="funkyradio-info">
              <input type="radio" id="radio3" name="selection" value="{{choice3}}" [(ngModel)]="result" />
              <label for="radio3"> {{choice3}} </label>
            </div>
            <div  class="qbutton">
              <button (click)="nextQuestion()" id="qbutton"> Submit </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>