<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="mt-5">
                <h1>
                    SUMMARY
                </h1>

                <div class="container">
                    <div class="panel-footer">
                        <div class="row">
                            <div class="funkyradio">
                                <div class="funkyradio-danger">
                                    <h2>
                                        NAME : {{name}}
                                    </h2>
                                </div>

                                <div class="funkyradio-danger">
                                    <h2>
                                        SCORE : {{score}}
                                    </h2>
                                </div>
                            </div>

                            <div class="container mt-5 mb-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-success">
                                            Leaderboard
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-danger">
                                            Try Again
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>