<app-nav-bar></app-nav-bar>
<form #summaryForm="ngForm" (ngSubmit)="summaryForm.valid && onSubmit(summaryForm)">
    <div class="container">
        <div class="card">
            
                <h1>
                    SUMMARY
                </h1>
         
        </div>
    </div>
    <p></p>

    <div class="container">
        <div class="card">
            <div class="container">
                <img src="/assets/img/logo.png" id="icon" alt="User Icon" />
            </div>
        </div>
        </div>
        
    <p></p>
    <div class="container">
        <div class="panel-footer">
            <div class="card">
                <div class="funkyradio">
                    <div class="funkyradio-danger">
                        <h4>
                            NAME : {{name}}
                        </h4>
                    </div>
                </div>

                
                    <div class="funkyradio-danger">
                        <h4>
                            SCORE : {{score}}
                        </h4>
                    </div>
                </div>
          
            <p></p>

            <div class="sumcard">
                <div class="btncontainersuccess">
                    <button class="btn btn-success" (click)="onClickLeaderBoard()">
                        Leaderboard
                    </button>
                </div>
                <div class="btncontainerdanger">
                    <button class="btn btn-danger" (click)="onClickTryAgain()">
                        Try Again
                    </button>
                </div>
            </div>
        </div>

    </div>


</form>