<div class="container">
    <div class="card">
<div class="text-center"><h1>Leader Board</h1></div>
    </div>
</div>
<br />
<div class="container">
    <div class="card">
<div class="row">
  <div class="col-0 col-md-3"></div>
  <div class="col col-md-6">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tr *ngFor="let u of users">
        <td>{{u.name}}</td>
        <td>{{u.score}}</td>
      </tr>
    </table>
  </div>
</div>
</div>
</div>
<div class="container mt-4">
    <div class="card">
<div class="row">
  <div class="col-0 col-md-3"></div>
  <div class="col col-md-3 text-center">
    <button class="btn btn-danger btn-lg btn-block" (click)="playAgain()"><i class="fa fa-refresh"></i>Play Again</button>
  </div>
  <div class="col col-md-3 text-center">
    <button class="btn btn-primary btn-lg btn-block" (click)="logOut()"><i class="fa fa-sign-out"></i>Logout</button>
  </div>
</div>
<h1></h1>
<br />
</div>
</div>
